// Add your own custom CSS here.
@import "pygments-tomorrow";

.centered-navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  margin-bottom: 20px;

  a{
    font-weight: bold;
    font-size: 16px;
  }
}

.post-paragraph{
  margin-bottom: 0px;
}

.__post-title-archive-lightweight {
  font-family: $headings-font-family;
  font-weight: 400;
  margin-right: 0.5em;
}

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.bio{
  text-align: center;
  .author-avatar{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
  }
  .author-description{
    max-width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .social-badges{
    .social-profile{
      // margin-left: 15px;
    }
    .github-profile{
      width: 60px;
    }
    .twitter-profile{
      width: 50px;
      margin-left: 5px;
    }
    .stack-overflow-profile{
      margin-left: 12px;
      width: 45px;
    }
  }
}
